.activity-card-wrapper {
	width: 100%;
	min-height: 250px;
}

.show-select-exercise-button {
	right: 0;
	top: 7px;
}

.selected-exercise-wrapper {
	right: 0;
	top: 58px;
	height: 93%;
	overflow-y:scroll;
	background-color: $light;
	z-index: 99;
	padding: $spacer;
}

.library-preview-button {
	right: 0;
	top: -50px;
}

.library-preview-wrapper {
	right: 0;
	height: 100%;
	top: -16px;
	overflow-y:scroll;
	background-color: $light;
	z-index: 99;
	padding: $spacer;
}
.activity-weekend-header-column-background {
	background-color: $orange;
}
