.exercise-card {
	overflow: hidden;
	height: 315px;

	.img-fluid {
		max-width: 100%;
		height: 177px;
	}
	.card-img {
		height: 177px;
	}

	.card-title {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}

	.action {
		z-index: 1;
	}
}

.exercise-media {
	.upload-btn {
		opacity: 0;
		right: 0;
		top: 0;
	}

	.remove-btn-wrapper {
		right: -10px;
		top: -10px;
		bottom: 0;
	}
}

.material-card {
  .card-title {
	-webkit-line-clamp: 2;
  }
	&:hover {
		cursor: pointer;
	}
}

.questionnaire-header {
	background-color: $yellow;
	color: $orange;
}

.question-card {
	.card-header {
		background-color: $blue-light-2;
		height: 45px;
	}
}

.card-remove-btn-wrapper {
	z-index: 1;
	right: 0;
}

.modal-backdrop.show, .modal.show {
	z-index: 1051 !important;
}
