.chat {
  &-sidebar-panel {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4.5rem);
    border-right: 1px solid $gray-500;
    background-color: $white;
    padding-right: 0;
    padding-left: 0;
    .badge {
      font-size: $font-size-sm;
      min-height: 1.5rem;
      min-width: 1.5rem;
      border-radius: 50%;
      padding: 0;
    }
  }
  &-sidebar-header {
    padding-right: 15px;
    padding-left: 15px;
    background-color: $blue-light-2;
  }
  &-room-list {
    background-color: $white;
    overflow-y: auto;
    .list-group {
      border-radius: 0;
      &-item {
        border-width: 0;
        border-top: 1px outset $border-color;
        border-left: 5px solid $white;
        font-weight: $font-weight-bold;
        padding: 8px 15px 8px 10px;
        cursor: pointer;
        min-height: 61px;
        line-height: 1.25rem;
        &:hover,
        &.active {
          border-left-color: $primary;
          background-color: $blue-light-2;
        }
        &.active {
          color: $body-color;
        }
      }
    }
  }
  &-room-item {
    width: 65%;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
  &-user-status {
    margin-left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.md {
      margin-left: 5px;
      width: 14px;
      height: 14px;
    }
    &.online {
      background-color: $green;
    }
    &.offline {
      background-color: $gray-500;
    }
    &.busy {
      background-color: $red;
    }
    &.away {
      background-color: $yellow;
    }
  }
  &-message {
    &-panel {
      background-color: theme-color('light');
    }
    &-header {
      border-bottom: 1px solid $gray-500;
      padding: 15px 0;
      .btn-audio-call,
      .btn-video-call {
        height: 44px;
        width: 44px;
      }
    }
    &-list {
      overflow-y: auto;
    }
    &-day {
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      color: $gray-700;
    }
    &-bubble {
      padding: 10px;
      border-radius: 0.9375rem;
      min-height: 20px;
      &.left {
        background-color: $white;
        margin-right: 3.75rem;
      }
      &.right {
        background-color: $blue;
        margin-left: 3.75rem;
        justify-content: flex-end;
        color: $white;
      }
    }
    &-info {
      font-size: 12px;
    }
  }
  &-input-toolbar {
    position: relative;
    .form-control {
      min-height: 50px;
      padding: 13px 48px 13px 15px;
      line-height: 22px;
      overflow-y: hidden;
      resize: none;
      border-color: $light;
      border-radius: $border-radius-lg;
      &:focus {
        box-shadow: none;
        border-color: $light;
      }
    }
  }
  &-send-btn {
    position: absolute;
    right: 13px;
    bottom: 12px;
    &:focus {
      box-shadow: none;
    }
  }
}

.panel-no-sidebar {
  .chat-sidebar-panel {
    max-width: 0;
    display: none !important;
  }
  .chat-message-wrapper {
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.calling {
  position: relative;
  height: calc(100vh - 61px);
  width: 100%;
  .sidebar-toggle {
    position: absolute;
    top: 0;
    left: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .incoming {
    background-color: $black;
    height: 100%;
    width: 100%;
    &-participant {
      h2 {
        color: $white;
        font-weight: 700;
        font-size: 38px;
        margin: 0 0 15px 0;
      }
      p {
        color: $primary;
        font-style: italic;
        font-size: 18px;
      }
    }
    &-options {
      margin: 0 0 44px 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          color: $white;
          padding: 0 5px;
          .btn-video-call,
          .btn-end-call {
            border-radius: 50%;
            height: 46px;
            width: 46px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .calling {
    height: calc(100vh - 70px);
  }
}
