.chat {
  &-sidebar-panel {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4.5rem);
    border-right: 1px solid $gray-500;
    background-color: $white;
    padding-right: 0;
    padding-left: 0;
    .badge {
      font-size: $font-size-sm;
      min-height: 1.5rem;
      min-width: 1.5rem;
      border-radius: 50%;
      padding: 0;
    }
  }
  &-sidebar-header {
    padding-right: 15px;
    padding-left: 15px;
    background-color: $blue-light-2;
  }
  &-room-list {
    background-color: $white;
    overflow-y: auto;
    .list-group {
      border-radius: 0;
      &-item {
        border-width: 0;
        border-top: 1px outset $border-color;
        border-left: 5px solid $white;
        font-weight: $font-weight-bold;
        padding: 8px 15px 8px 10px;
        cursor: pointer;
        min-height: 61px;
        line-height: 1.25rem;
        &:hover,
        &.active {
          border-left-color: $primary;
          background-color: $blue-light-2;
        }
        &.active {
          color: $body-color;
        }
      }
    }
  }
  &-user-status {
    margin-left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.md {
      margin-left: 5px;
      width: 14px;
      height: 14px;
    }
    &.online {
      background-color: $green;
    }
    &.offline {
      background-color: $gray-500;
    }
    &.busy {
      background-color: $red;
    }
    &.away {
      background-color: $yellow;
    }
  }
  &-room {
    width: 65%;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
  &-message-wrapper {
    background-color: theme-color('light');
  }
  &-selected-user {
    border-bottom: 1px solid $gray-500;
    padding: 15px 0;
  }
  &-message-panel {
    height: calc(100vh - 150px);
  }
}
