// Search box
.search-box-with-icon {
	position: relative;

	.search-icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.clear-btn {
		position: absolute;
		right: 0;
	}

	.form-control {
		padding-left: 35px;
		padding-right: 50px;
	}
}

.z-index-1 {
	z-index: 1;
}
