// Search box
.search-box-with-icon {
	position: relative;

	.search-icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.clear-btn {
		position: absolute;
		right: 0;
	}

	.form-control {
		padding-left: 35px;
		padding-right: 50px;
	}
}

.z-index-1 {
	z-index: 1;
}

.row-bg {
	margin-top: -1rem;
	background-color: $blue-light-2;
}

.badge {
	&.circle {
		border-radius: 50%;
		padding: 0.25rem 0.4rem;
		&.md {
			padding: 0.35rem 0.25rem;
		}
		&.lg {
			padding: 0.6rem 0.25rem;
		}
	}
}
