// Search box
.search-box-with-icon {
	position: relative;

	.search-icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.clear-btn {
		position: absolute;
		right: 0;
	}

	.form-control {
		padding-left: 35px;
		padding-right: 50px;
	}
}

.show-select-exercise-button {
	right: 0px;
	top: 7px;
}

.selected-exercise-wrapper {
	right: 0px;
	top: 60px;
	height: 81%;
	overflow-y:scroll;
	background-color: #ced0d2;
	z-index: 1;
}
