.table {
	.hover-primary {
		&:hover {
			background-color: $secondary;
			color: $white;

			.notify-list-item {
				.chat-icon {
					color: $white !important;
				}
			}
		}
	}
}

.table-spinner {
	position: absolute;
	top: calc(50%);
	left: calc(50% - 20px);
}
